<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}"><span aria-hidden="true">&larr;</span> Postes recentes</a>
    {{/if}}
    <span class="page-number">Páginas {{page}} de {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">Postes antigos <span aria-hidden="true">&rarr;</span></a>
    {{/if}}
</nav>
