{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="main-header" style="background-image: url(assets/img/cover.jpg)">
    <nav class="main-nav overlay clearfix">
        <a class="blog-logo" href="{{@blog.url}}"><img src="assets/img/logo-wt.png" alt="{{@blog.title}}" /></a>
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"></a>
        {{/if}}
    </nav>
    <div class="vertical certificate-search">
        <div class="main-header-content inner">
            <h1 class="page-title">Encontre um posto de vendas de <strong>Certificado Digital</strong><br>próximo de você.</h1>
        </div>
        <div class="search-location">
            <form class="form" action="">
                <div class="form-group">
                    <label for="">Localização</label>
                    <input class="form-control" id="name" type="text" placeholder="Rua..." required data-parsley-no-focus data-parsley-error-message="Please enter your name." />
                </div>
                <div class="form-group">
                    <label for="">Tipo de certificado</label>
                    <select class="form-control select-form">
                        <option>e-CPF</option>
                        <option>e-CNPJ</option>
                        <option>NF-e</option>
                        <option>NFC-e</option>
                    </select>
                </div>
                <div class="more-links form-group">
                    <a href="javascript:void(0)">Entenda os tipos de certificado digital.</a>
                    <span>|</span>
                    <a href="javascript:void(0)">Saiba como comprar.</a>
                </div>
                <a href="javascript:void(0)" class="btn btn-primary btn-lg">Buscar certificado agora</a>
            </form>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">

    <div class="headding-blog">
        <h2>Dicas e Noticias</h2>
    </div>

    {{! The tag below includes the post loop - partials/loop.hbs }}
    <div class="main-posts">
        {{> "loop"}}
    <div class="main-posts">

</main>
