{{!< default}}

<div class="call-station location-area">
  <div class="wrapper">
    <div class="left-side">
      <h2>Encontre o ponto mais <br> próximo de você</h2>
      <p>Navegue pelo mapa Brasil da Certificação <br> Digigital e encontre um posto de atendimento <br> próximo a você!</p>
      <a href="http://mapa.buscacertificado.com.br" class="btn-map btn btn-outline-inverse btn-lg" hell="no-follow">Acessar o mapa</a>
    </div>
    <div class="right-side">
      <img src="assets/img/call-station.png" alt="e-cpf | nf-e | e-cnpj">
    </div>
  </div>
</div>
