{{!< default}}

<div class="newsletter">
    <div class="wrapper">
        <h2>Mais Informações</h2>
        <p>Interessado em receber mais informações?</p>
        <p>Você trabalha com múltiplos certificados e deseja adquirir acima de 10 unidades?</p>
        <p>Deixa seu email aí e vamos trocar uma idéia.</p>
        <form class="newsform" action="">
            <input type="text" placeholder="name@domain.com">
            <a href="javascript:void(0)" class="btn-send btn btn btn-outline-inverse btn-lg">Enviar</a>
        </form>
    </div>
</div>
